*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  hsl(31, 53%, 90%);
    margin: 0;
    padding: 2rem;

    font-size: 16px;
    font-weight: 400;
}

.content{
    background-color: hsl(0, 0%, 100%);

    border-radius: 20px;
    
    padding: 2rem;
}